[submodule "GsswSrc"]
	path = Gssw/deps/Gssw
	url = git@github.com:vgteam/gssw.git
[submodule "vgGsswDump"]
	path = Gssw/deps/vg
	url = git@github.com:kaplannp/vg.git
	branch = dumper
[submodule "GraphAligner"]
	path = Gbv/deps/GraphAligner
	url = git@github.com:kaplannp/GraphAligner.git
	branch = dumper
[submodule "gbwt"]
	path = Gbwt/deps/gbwt
	url = git@github.com:kaplannp/gbwt.git
[submodule "sdsl-lite"]
	path = Gbwt/deps/sdsl-lite
	url = git@github.com:vgteam/sdsl-lite.git
[submodule "minigraphDumper"]
	path = Gwfa/deps/minigraphDumper
	url = git@github.com:kaplannp/minigraph.git
	branch = serialization
[submodule "minigraphKernel"]
	path = Gwfa/deps/minigraphKernel
	url = git@github.com:kaplannp/minigraph.git
	branch = kernel
[submodule "OneStopProfileShop"]
	path = ProfileScripts
	url = git@github.com:kaplannp/OneStopProfileShop.git
[submodule "transclosure/deps/seqwish"]
	path = transclosure/deps/seqwish
	url = https://github.com/ekg/seqwish.git
